{% extends "home.html"%}
{% load static %}

{% block content %}


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Acerca de SDAB</h2>
        <p>Conoce acerca de SDAB y empieza hoy tú aprendizaje hasta convertirlo en True, únete hoy a la familia SDAB</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>¿Qué es SDAB?</h3>
            <p class="fst-italic">
              SDAB es una plataforma web de aprendizaje bajo la temática de la materia algebra booleana, la cual enfocamos al desarrollo de circuitos en la electrónica aplicada. ¿Que ofrocemos en SDAB?.   
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Tutoría y seguimiento a tú aprendizaje</li>
              <li><i class="bi bi-check-circle"></i> Evaluaciones basadas en los contenidos que impartimos</li>
              <li><i class="bi bi-check-circle"></i> Cursos realizados por lo mejores profesores en el área de la Tecnología</li>
              <li><i class="bi bi-check-circle"></i> Eventos especiales dictados por profesionales locales o externos</li>
            </ul>
            <p>
              Aprende hoy fácil y rápido con SDAB, registrate y empieza en el maravilloso mundo de la electrónica.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ estudiantes }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{ cursos }}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{eventos}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="{{profesores}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reflexión</h2>
          <p>Pensamientos constructivos</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Nikola Tesla</h3>
                  <!-- <h4>Ceo &amp; Founder</h4> -->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                     Si quieres encontrar los secretos del universo, piensa en términos de energía, frecuencia y vibración
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Neil Armstrong</h3>
                  <!-- <h4>Designer</h4> -->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Es un pequeño paso para un hombre, pero un salto gigante para la humanidad
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Alexander Graham Bell</h3>
                  <!-- <h4>Store Owner</h4> -->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      Grandes descubrimientos y mejoras implican invariablemente la cooperación de muchas mentes
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Elon Musk</h3>
                  <!-- <h4>Freelancer</h4> -->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      La persistencia es muy importante. No debes renunciar a menos que te veas obligado a renunciar
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Henry Ford</h3>
                  <!-- <h4>Entrepreneur</h4> -->
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      La mayoría de las personas gastan más tiempo y energía en rondar los problemas que en tratar de resolverlos
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->


{% endblock %}