{% extends "home.html"%}
{% load static %}

{% block content %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>Evaluaciones</h2>
        <p>Entrega tú evaluación a tiempo, y espera por tú calificación ;)</p>
      </div>
    </div><!-- End Breadcrumbs -->

    {% if evaluacion %}



            
              <!-- ======= Events Section ======= -->
              <section id="events" class="events">
                <div class="container" data-aos="fade-up">

                    
                  <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                      <div class="card">
                        <div class="card-img">
                          <img src="/media/{{evaluacion.image}}" alt="...">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><a href="">{{evaluacion.titulo}}</a></h5>
                          <p class="fst-italic text-center"><b>Final: </b>{{evaluacion.fecha_final}}</p>
                          <p class="card-text">{{evaluacion.descripcion}} </p>
                          <div class="d-flex justify-content-between">
                                {% if evaluacion.documento.url is not None or evaluacion.documento.url is True %}
                                    <a href="{{evaluacion.documento.url}}" download="" class="">Descargar Evaluacion</a>
                                {% endif %}
                                {% if not entregado %}
                                  <a href="{% url 'entrega' id%}" class="btn btn-success">Entregar</a>
                                {% endif %}  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </section><!-- End Events Section -->


    {% else %}
    <br>
    <div class="text-center">          
      <h3>Evaluacion no encontrada...</h3>
    </div>   
    {% endif %}  
  </main><!-- End #main -->

{% endblock %}